* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 900px !important;
  position: relative;
  overflow: hidden;
}

.container_small {
  width: 100%;
  height: 650px !important;
  position: relative;
  overflow: hidden;
}

.show_container {
  width: 100%;
  height: 570px !important;
  position: relative;
  overflow: hidden;
}

.carousel_cont {
  width: 100%;
  height: 300px !important;
  position: relative;
  overflow: hidden;
}

@media (min-width: 800px) {
  .container,
  .container_small {
    display: none;
  }
}

@media (min-width: 700px) {
  .show_container {
    display: none;
  }
}

ul,
li {
  list-style-type: none;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100% !important;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 24px 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 10px;

  -webkit-transition: all 0.5s ease-in-out;

  -ms-transition: all 0.5s ease-in-out;

  -moz-transition: all 0.5s ease-in-out;

  -o-transition: all 0.5s ease-in-out;

  transition: all 0.5s ease-in-out;
}

.carousel .indicators .indicator-item.active::after {
  content: "";

  animation: load 8.2s linear;

  position: absolute;

  height: 100%;

  left: 0;

  top: 0;

  background-color: #82c85c;
}
.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.text_cont {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 0rem 1rem;
  margin-bottom: 0rem;
}

.text_cont > p {
  text-align: left;
  font-family: Roboto, sans-serif;
  line-height: 2.5;
  font-weight: 600;
  font-size: 1rem;
}

.quotes_item {
  min-height: 100px !important;
}

.gooty_card_mob {
  margin: 0 auto;
  background-color: #fff;
  width: 88%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 0rem;
}

.show_img_mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0.7rem;
}

.show_img_mob > img {
  width: 100%;
  max-width: 300px;
}

.show_img_mob > button {
  width: 60%;
  max-width: 205px;
  margin: 0;
  border-radius: 0 0 15px 15px;
  font-size: 1.15rem;
}

.gooty_desc_p p {
  font-size: 1.4rem;
  font-family: "roboto";
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .gooty_desc_p p {
    font-size: 1.2rem;
    font-family: "roboto";
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 1000px) {
  .gooty_desc_p p {
    font-size: 1rem;
    font-family: "roboto";
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}

.gooty_card_mob div img {
  margin-bottom: 2rem;
}

li button {
  padding: 1rem 2rem;
  background-color: #82c85c;
  color: #fff;
  border-radius: 0px 0px 20px 20px;
  margin: 0;
  border: none;
  font-size: 1.1rem;
  font-family: "Poppins";
}
